# Carpetas de compilación (Basura que causa conflictos)
bin/
obj/

# Archivos de configuración de Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates

# Archivos temporales de base de datos o logs
*.log
*.tmp
[Bb]in/
[Oo]bj/